#ignore the node_modules directory
**/node_modules

#ignore the the .vs folder
**/.vs**/

#ignore all .DS_store files
**.**DS_store

#ignore the workspace file
ShermanModBot.code-workspace

#ignore the build directory
**/build
